<table class="table-center">
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= sanitize article.text.html_safe %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<hr>
