<div class="page-center">
  <p>
    <%= @article.title %>
  </p>

  <p>
    <%= sanitize @article.text.html_safe %>
  </p>

  <hr>

  <h3 class='titles'>Comments</h3>
  <%= render @article.comments %>

  <h3 class='titles'>Add a comment:</h3>
  <%= render 'comments/form' %>

  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
  <% end %>
  <%= link_to 'Back', root_path %>
</div>
