@import "_scss/variables";
@import "_scss/mixins";
@import "_scss/icons";
@import "_scss/ui";
@import "_scss/dropdown";
@import "_scss/modal";
@import "_scss/content";
/*
 *= require_tree .
 *= require_self
 */

header {
  display: block;
  position: relative;
  left: 46%;
}

main {
  display: block;
  left: 50%;
}

.link-fonts {
  font-family: fantasy;
  color: #555555 !important;
}

.logo {
  position: relative;
}

.articles {
  margin-left: auto;
  margin-right: auto;
  width: 15em
}

table.table-center {
  color: #202020;
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
  position: relative;
  margin-left:auto;
  margin-right:auto;
}

h3.titles, h2.titles  {
  padding: 15px;
  text-align: center;
  display: block;
  -webkit-margin-before: -1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #3C3C3C;
  font-weight: bold;
}

.form-center, .page-center {
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 50%;
}
