<!DOCTYPE html>
<html>
  <head>
    <title>RollGames</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <%= image_tag("logo.png") %>
      </div>
      <% if user_signed_in? %>
        <div class='link-fonts'>
          <%= link_to 'New article', new_article_path %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <%= render "users/shared/links" %>
      <% end %>
    </header>
    <main>
      <hr>
      <%= yield %>
    </main>
  </body>
</html>
